* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

/* <======== header area =======> */
.c-nav {
  background-color: #fff;
  border-bottom: solid 1px #999;
}

.c-nav__li {
  color: #000;
  font-size: 1.1em;
}

.c-nav__li--active {
  color: #CF0A2C;
}

.c-nav__li--active:hover,
.c-nav__li:hover {
  color: #CF0A2C;
}

.c-nav__dropdown {
  background-color: #e5e5e5;
}

/* bs override */
.dropdown-item:active {
  color: #000;
  background-color: #f8f8f8;
}

.dropdown-item:hover {
  border-top: solid 3px #CF0A2C;
}

.navbar-toggler {
  font-size: 2em;
}

/* <======== carousel area =======> */

/* bs override */
.carousel-item img {
  height: 70vh;
}

/* <======== products area =======> */
.c-main-bg {
  background-color: #eeeeee;
}

.c-secondary-bg {
  background-color: #999999;
}

.c-product-list img {
  cursor: pointer;
}

.c-main-bg h2,
.c-recipe-container h2,
.c-contact h1,
.c-contact h2,
.c-product-container h2,
.c-about h1 {
  color: #CF0A2C;
  font-weight: bold;
}

/* <======== recipe area =======> */
.c-recipe {
  border: 1px #ccc solid;
  padding: 5%;
}

.c-recipe a {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
}

/* <======== contact area =======> */
.c-map {
  height: 90vh;
}

/* <======== social area =======> */
.c-social-icons p {
  font-size: 20px;
}

.c-social-icons a {
  background-color: #CF0A2C;
  color: #fff;
  width: 35px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 20px;
}

/* <======== about area =======> */
.c-about-container h3 {
  font-size: 20px;
}

.c-about-items {
  list-style: none;
}

/* <======== footer area =======> */

/* <======== product area =======> */
.c-product span {
  font-weight: 300;
  font-size: 40px;
  color: #999;
  cursor: pointer;
}

.c-main-product,
.c-short-product,
.c-short-product-2,
.c-short-product-3,
.c-short-product-4,
.c-short-product-5,
.c-short-product-6,
.c-short-product-7 {
  border: 1px solid #999999;
}

.c-product-description ul li {
  list-style-type: none;
}

.c-color-white,
.c-color-black,
.c-color-red,
.c-color-purple,
.c-color-blue,
.c-color-dark-red {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.c-color-white div,
.c-color-black div,
.c-color-purple div,
.c-color-blue div,
.c-color-red div,
.c-color-dark-red div {
  border: 1px solid #999;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  margin-top: 15px;
}

.c-color-white div {
  background-color: #ffffff;
}

.c-color-red div {
  background-color: #CF0A2C;
}

.c-color-black div {
  background-color: #000000;
}

.c-color-purple div {
  background-color: #8264a9;
}

.c-color-blue div {
  background-color: #407cca;
}

.c-color-dark-red div {
  background-image: linear-gradient(to bottom right, #fff 50%, darkred 50%);
}
