* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

/* <======== header area =======> */
.c-nav {
  background-color: #fff;
  border-bottom: solid 1px #999;
}

.c-nav__li {
  color: #000;
  font-size: 1.1em;
}

.c-nav__li--active {
  color: #ee4326;
}

.c-nav__li--active:hover,
.c-nav__li:hover {
  color: #ee4326;
}

.c-nav__dropdown {
  background-color: #e5e5e5;
}

/* bs override */
.dropdown-item:active {
  color: #000;
  background-color: #f8f8f8;
}

.dropdown-item:hover {
  border-top: solid 3px #ee4326;
}

.navbar-toggler {
  font-size: 2em;
}

/* <======== carousel area =======> */

/* bs override */
.carousel-item img {
  height: 70vh;
}

/* <======== products area =======> */
.c-main-bg {
  background-color: #eeeeee;
}

.c-secondary-bg {
  background-color: #999999;
}

.c-main-bg h2,
.c-recipe-container h2,
.c-contact h1,
.c-contact h2,
.c-product-container h2 {
  color: #ee4326;
  font-weight: bold;
}

/* <======== recipe area =======> */
.c-recipe {
  border: 1px #ccc solid;
  padding: 5%;
}

.c-recipe a {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
}

/* <======== contact area =======> */
.c-map {
  height: 90vh;
}

/* <======== social area =======> */
.c-social-icons p {
  font-size: 20px;
}

.c-social-icons span {
  background-color: #ee4326;
  color: #fff;
  width: 35px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 20px;
}

/* <======== about area =======> */
.c-about-container h3 {
  font-size: 20px;
}

.c-about-items {
  list-style: none;
}

/* <======== footer area =======> */

/* <======== product area =======> */
.c-product span {
  font-weight: 300;
  font-size: 40px;
  color: #999;
  cursor: pointer;
}

.c-main-product,
.c-short-product {
  border: 1px solid #999999;
}

.c-product-description ul li {
  list-style-type: none;
}
